@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<Post>

<div class="text-center">
    <h1>Welcome</h1>
    <br>

    <div style="max-width:800px; width:100%; margin:auto">
        @*<img src="~/content/static/DSC04598.JPG" width="700px"/>*@
        @if (User.Identity.IsAuthenticated)
        {

            @foreach (var post in Model)
            {

                var image_path = $"/Image/{post.Image}";
                <a class="post" asp-controller="Home" asp-action="Post" asp-route-id="@post.Id" style="display:flex;align-content:center;justify-content:space-around;position:relative; text-decoration:none; color:black">
                    <div>
                        <h3 class="title" style="text-decoration: none; display: flex; align-content: center; justify-content:center">
                            @post.Title
                        </h3>
                        <div>
                            Likes: @post.likes
                        </div>
                    </div>
                    <img src="@image_path" style="width:300px; height:175px;object-fit:cover;align-items:center" />
                </a>
                <br>
                <hr>
                <br />

            }

        }
    </div>

</div>

